# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# LGS outputs (grandes, no van al repo)
output/
workers/
*.sdf
*.mol
*.jar
/resources/
sequential_rerun/*.log
sequential_rerun/exp2_sequential_partial_*.csv
sequential_rerun/exp2_sequential_pilot_*.csv

# OS
.DS_Store
Thumbs.db
